* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 120vh;
}

.box {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.box1 {
  background-color: red;
}
.box2 {
  background-color: green;
  /* position: absolute; */
}

.box3 {
  background-color: blue;
  /* position: relative; */
  left: 400px;
}
