* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gridContainer {
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 100px);
  margin: 20px;
  gap: 20px;
}

.item {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.i1 {
  background-color: #c30;
  grid-column: span 2;
}
.i2 {
  background-color: #f80;
  grid-row: span 2;
}
.i3 {
  background-color: #ccc;
  grid-row: span 2;
}
.i4 {
  background-color: #0c0;
  grid-column: span 2;
}
